@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container d-flex flex-column w-25 justify-self-center align-items-center">
    <a class="btn btn-primary w-75 my-2" asp-page="NewGame">New game</a>
    <a class="btn btn-primary w-75 my-2" asp-page="LoadGame">Load game</a>
    <a class="btn btn-primary w-75 my-2" asp-page="Settings">Settings</a>
</div>