@page
@model WebApp.Pages.LoadGame

<div class="container d-flex flex-column w-25 justify-self-center align-items-center">
    <a class="btn btn-primary w-75 my-2" asp-page="LoadGameDb">Load game from database</a>
    <a class="btn btn-primary w-75 my-2" asp-page="LoadGameJson">Load game from JSON file</a>
</div>